<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
      
      <div class="main-banner">
        LIGHT WEIGHT
      </div>
      
      <div class="carousel">
        {% block content %}
        {% endblock %}
      </div>

      <div class="profile-wrap">
        <div class="profile">
          {% if user and user.id %}
          <div class="user-name"><img src="/images/dumbell.png" class="profile-img"><div class="uname">{{ user.nick }}</div></div>
          
          <div class="half-zone">
            <div class="half">
              <div>팔로잉</div>
              <div class="count following-count">{{followingCount}}</div>
            </div>
            <div class="half">
              <div>팔로워</div>
              <div class="count follower-count">{{followerCount}}</div>
            </div>
          </div>
          <input id="my-id" type="hidden" value="{{user.id}}">
          <!--<a id="my-profile" href="/profile" class="btn">내 프로필</a>-->
          <div class="nav-zone">
            <div class="navbar1">
              <div>crud</div>
              <a id="logout" href="/auth/logout" class="btn">프로필 수정</a>
              <a id="logout" href="/auth/logout" class="btn">개인정보 수정</a>
              <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
            </div>
            <div class="navbar2">
              <div>게시글 crud</div>
              <a id="logout" href="/auth/logout" class="btn">피드 올리기</a>
              <a id="logout" href="/auth/logout" class="btn">피드 관리</a>
            </div>
            <div class="navbar3">
              <div>운동관리</div>
              <a id="logout" href="/auth/logout" class="btn">플래너</a>
              <a id="logout" href="/auth/logout" class="btn">성장일지</a>
            </div>
            <div class="navbar4">
              <div>영양관리</div>
              <a id="logout" href="/auth/logout" class="btn">식단</a>
              <a id="logout" href="/auth/logout" class="btn">영양</a>
            </div>
          </div>
        {% else %}
          <form id="login-form" action="/auth/login" method="post">
            <div class="input-group">
              
              <div id="banner-1"><img src="/images/light-weight.png" style="width:100%;height:150px"></div>
              <label for="email">이메일</label>
              <input id="email" type="email" name="email" required autofocus>
            </div>
            <div class="input-group">
              <label for="password">비밀번호</label>
              <input id="password" type="password" name="password" required>
            </div>
            <a id="join" href="/join" class="btn">회원가입</a>
            <button id="login" type="submit" class="btn">로그인</button>
            <a id="kakao" href="/auth/kakao" class="btn">카카오톡</a>
            <div>{{user.id}}</div>
          </form>
        {% endif %}
        </div>
        <footer>
        </footer>
      </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('error')) {
          alert(new URL(location.href).searchParams.get('error'));
        }
      };
    </script>
    {% block script %}
    {% endblock %}
  </body>
</html>