* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; height: 100%;background-color: #f0f3f5;overflow-y: hidden; }
.container{
  display:flex;
  position: relative;
  
}
.main-banner{
  position: absolute;
  left:50%;
  top:3%;
  transform: translate(-50%,-5%);
  font-size:30px;
  font-weight: bold;
  background-color: white;
  color:black;
  z-index: 100;
}
.btn {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: white;
  border: 1px solid silver;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 12px;
}
.container { width: 100%; height: 100%; }
.half { float: left; width: 50%; margin: 10px 0; }
#join { float: right; }
#login{float:right; margin-right:10px}
.profile-wrap {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.profile {
  text-align: left;
  width:25vw;
  height:100vh;
  margin-right: 10px;
  border-radius: 3px;
  position: absolute;
  left:0;
  top:0;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}
.profile {
  transition: left 0.5s ease;
}
#toggle-profile {
  transition: left 0.5s ease;
}
.profile.hidden {
  left: -30vw; /* 왼쪽 화면 밖으로 숨김 */
}
.nav-zone{
  padding-left: 20px;
}
.user-name { display:flex;font-weight: bold; font-size: 18px; width:100%; height:90px;padding-left:10px;background-color: lightgray;border-top:2px solid black;  }
.uname{
  margin-left:10px;
  line-height: 90px;
}
.profile-img{
  width:80px;
  height:80px;
  border-radius: 50%;
  border:black 2px solid;
  margin-top:5px;
}
.half-zone{
  padding-left:20px;
  border-top:1px solid black;
  height: 5vh;
  border-bottom:1px solid black;
}
.half{
  font-size:15px;
}
.timeline {
  margin-top: 10px;
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  vertical-align: top;
}
@media screen and (min-width: 800px) { .timeline { width: 500px; } }
#twit-form {
  border-bottom: 1px solid silver;
  padding: 10px;
  background: lightcoral;
  overflow: hidden;
}
#img-preview { max-width: 100%; }
#img-label {
  float: left;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid crimson;
  padding: 0 10px;
  color: white;
  font-size: 12px;
  height: 37px;
  line-height: 37px;
}
#img { display: none; }
#twit { width: 100%; min-height: 72px; }
#twit-btn {
  float: right;
  color: white;
  background: crimson;
  border: none;
}
.twit-author { display: inline-block; font-weight: bold; margin-right: 10px; }
.twit-follow {
  padding: 1px 5px;
  background: #fff;
  border: 1px solid silver;
  border-radius: 5px;
  color: crimson;
  font-size: 12px;
  cursor: pointer;
}
.twit-img { text-align: center; }
.twit-img img { max-width: 75%; }
.error-message { color: red; font-weight: bold; }
#search-form { text-align: right; }
#join-form { padding: 10px; text-align: center; }
#hashtag-form { text-align: right; }
footer { text-align: center; }

#banner-1{
  font-size:40px;
  font-weight: bold;
}
/*carousel*/
.carousel-wrapper{
  width:550px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 100vh;
  position: absolute;
  left:50%;
  top:0;
  transform: translate(-50%);
  margin:0;
  padding:0;
  background-color: white;

}
.carousel-container {
  width: 550px; /* 보여줄 슬라이드 크기 */
  height: 700px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: absolute;
  left:50%;
  top:30%;
  transform:translate(-50%,-30%)
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.twit-slide {
  flex: 0 0 100%; /* 한 번에 하나만 보이게 */
  box-sizing: border-box;
}
.twit-img{
  width:100%;
  height: 400px;
}
.twit-btns{
  width:100%;
  height: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;             /* flexbox 사용 */
  justify-content: space-between; /* 양 끝으로 정렬 */
  align-items: center;       /* 수직 가운데 정렬 */
  padding: 0 10px;           /* 버튼이 너무 모서리에 붙지 않게 여유 */
}

.twit-content{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 300px;
}
/*로그인 관련*/
#login-form{
  width:100%;
  height: 100%;
}
.login-zone{
  padding-left: 20px;
  padding-top:20px;
  height: 100%;
  
}
.quick-log{
  border-top:1px solid lightgray;
  border-bottom:1px solid lightgray;
  padding-top:10px;
  padding-left: 10vw;
  width:92%;
  margin-top:10vh;
  height: 10vh;
  position: relative;
  
}
#kakao{
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  
}
#left-banner{
  padding-left:20px;
  padding-top:60px;
  margin-bottom: 10px;
}
.sign-zone{
  padding-top:10px;
}
#join{
  text-decoration: none;
  color:inherit;
  font-size:15px;
  font-weight: bold;
  margin-right: 50px;
}
#login{
  cursor:pointer;
  background: none;
  border:none;
  font-size:15px;
  font-weight: bold;
}
input[type='text'], input[type='email'], input[type='password'], textarea {
  border-radius: 4px;
  height: 37px;
  border: 1px solid silver;
  width:90%;
}
.input-group{
  margin-bottom:5px;
  padding-left:20px;
}