* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; height: 100%; }
.container{
  display:flex;
  position: relative;
}
.main-banner{
  position: absolute;
  left:50%;
  top:5%;
  transform: translate(-50%,-5%);
  font-size:30px;
  font-weight: bold;
}
.btn {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: white;
  border: 1px solid silver;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 12px;
}
input[type='text'], input[type='email'], input[type='password'], textarea {
  border-radius: 4px;
  height: 37px;
  padding: 10px;
  border: 1px solid silver;
}
.container { width: 100%; height: 100%; }
@media screen and (min-width: 800px) {
  .container { width: 800px; margin: 0 auto; }
}
.input-group { margin-bottom: 15px; }
.input-group label { width: 25%; display: inline-block; }
.input-group input { width: 70%; }
.half { float: left; width: 50%; margin: 10px 0; }
#join { float: right; }
.profile-wrap {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
@media screen and (min-width: 800px) {
  .profile-wrap { width: 290px; margin-bottom: 0; }
}
.profile {
  text-align: left;
  width:15vw;
  height:50vh;
  margin-right: 10px;
  border-radius: 3px;
  border-left:solid black 3px;
  border-right:solid black 3px;
  position: absolute;
  left:150%;
  top:30%;
  transform: translate(-150%,-30%);
}
.nav-zone{

}
.user-name { display:flex;font-weight: bold; font-size: 18px; width:100%; height:90px;padding-left:10px;background-color: lightgray;border-top:2px solid black;  }
.uname{
  margin-left:10px;
  line-height: 90px;
}
.profile-img{
  width:80px;
  height:80px;
  border-radius: 50%;
  border:black 2px solid;
  margin-top:5px;
}
.half-zone{
  padding-left:10px;
  border-top:1px solid black;
  height: 5vh;
  border-bottom:1px solid black;
}
.half{
  font-size:15px;
}
.timeline {
  margin-top: 10px;
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  vertical-align: top;
}
@media screen and (min-width: 800px) { .timeline { width: 500px; } }
#twit-form {
  border-bottom: 1px solid silver;
  padding: 10px;
  background: lightcoral;
  overflow: hidden;
}
#img-preview { max-width: 100%; }
#img-label {
  float: left;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid crimson;
  padding: 0 10px;
  color: white;
  font-size: 12px;
  height: 37px;
  line-height: 37px;
}
#img { display: none; }
#twit { width: 100%; min-height: 72px; }
#twit-btn {
  float: right;
  color: white;
  background: crimson;
  border: none;
}
.twit-author { display: inline-block; font-weight: bold; margin-right: 10px; }
.twit-follow {
  padding: 1px 5px;
  background: #fff;
  border: 1px solid silver;
  border-radius: 5px;
  color: crimson;
  font-size: 12px;
  cursor: pointer;
}
.twit-img { text-align: center; }
.twit-img img { max-width: 75%; }
.error-message { color: red; font-weight: bold; }
#search-form { text-align: right; }
#join-form { padding: 10px; text-align: center; }
#hashtag-form { text-align: right; }
footer { text-align: center; }

#banner-1{
  font-size:40px;
  font-weight: bold;
}
/*carousel*/
.carousel-container {
  width: 400px; /* 보여줄 슬라이드 크기 */
  height: 600px;
  overflow: hidden;
  position: relative;
  border:solid black 2px;
  position: absolute;
  left:50%;
  top:30%;
  transform:translate(-50%,-30%)
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.twit-slide {
  flex: 0 0 100%; /* 한 번에 하나만 보이게 */
  box-sizing: border-box;
}
.twit-img{
  width:100%;
  height: 300px;
}
.twit-btns{
  width:100%;
  height: 50px;
  border-top:2px solid black;
  border-bottom: 2px solid black;
  display: flex;             /* flexbox 사용 */
  justify-content: space-between; /* 양 끝으로 정렬 */
  align-items: center;       /* 수직 가운데 정렬 */
  padding: 0 10px;           /* 버튼이 너무 모서리에 붙지 않게 여유 */
}

.twit-content{
  border-top:solid black 2px;
  background-color: beige;
  height: 200px;
}